/* ********** Custom Properties ********** */
:root {
  --first-color: #9D2449;
  --first-alpha-color: rgb(6, 168, 196, 0.75);
  --second-color:#621132;
  --second-alpha-color: rgb(6, 9, 196, 0.75);
  --second-alpha-color: rgb(6, 9, 196, 0.75)
  --third-color: #501464;
  --third-alpha-color: rgba(80, 20, 100, 0.75);
  --white-color: #fff;
  --gray-light-color: #f3f3f3;
  --gray-color: #666;
  --gray-dark-color: #444;
  --black-color: #000;
  --title-color: #333;
  --text-color: #222;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --font: "Raleway", sans-serif;
  --max-width: 1200px;
  --header-height: 4rem;
}

/* ********** Reset ********** */
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;

  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }

  body {
    margin: 0;
    overflow-x: hidden;
    color: var(--text-color);
  }

  a {
    color: var(--white-color);
  }

  a:hover {
    opacity: 0.75;
  }

  h1 {
    margin: 0;
    font-size: 2rem;
  }

  h2 {
    margin: 0;
    font-size: 1.5rem;
  }

  h3 {
    margin: 0;
    font-size: 1.25rem;
  }

  h4 {
    margin: 0;
    font-size: 1rem;
  }

  h5 {
    margin: 0;
    font-size: 0.85rem;
  }

  h6 {
    margin: 0;
    font-size: 0.7rem;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

*::selection {
  background-color: var(--first-color);
  color: white;
}

/* ******************************************************** Components ***************************************************************************** */

/* ********** Contact Form ********** */





@media screen and (min-width: 1024px) {
  .encript-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }

  .encript-form input,
  .encript-form textarea {
    font-size: 1rem;
  }

  .encript-form textarea,
  .encript-form-loader {
    grid-column: span 2;
  }

  .encript-form input[type="submit"] {
    margin-left: 0;
  }
}

/* ********** HeroImage ********** */
.hero-image {
  background-image: var(--hero-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: var(--hero-attachment);
}

.hero-image-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--hero-opacity-color);
}

.hero-image-title {
  font-size: 7.5vw;
  color: var(--hero-text-color);
}

/* ********** Menu ********** */
.menu-btn {
  border: thin solid var(--first-color);
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--second-color);
  svg{
    fill: var(--first-color);
  }
}

.menu a{
  text-decoration: none;
  font-weight: bold;
}
.is-active {
  opacity: 1;
  pointer-events: auto;
}
@keyframes menu-a {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-4deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media screen and (min-width: 1024px) {
  .menu-btn {
    display: none;
  }

  .menu {
    position: static;
    width: auto;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
    height: 1rem;

    a {
      padding: 0 1rem;
    }

    a:last-child {
      padding-right: 0;
    }

    a:hover {
      background-color: transparent;
      animation: menu-a 0.4s ease-out 0s both;
    }
  }
}

/* ********** Modal ********** */
.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-alpha-color);
  opacity: 0;
  pointer-events: none;
  transition: all 1s;

  &[id|="trabajo"]:target {
    opacity: 1;
    pointer-events: auto;
  }
}

.modal-content {
  position: relative;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;

  svg {
    width: 3rem;
    height: 3rem;
  }
}

/* Cartas de viaje */

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}

.trip {
  display: flex;
  justify-content: space-between;
  min-height: 150px;
  max-height: fit-content;
  border-radius: 10px;
  transition: all ease 0.3s;
  cursor: pointer;
  max-width: var(--max-width);
  margin-bottom: 1rem;
  
  
    view-timeline-name: --image;
    view-timeline-axis: block;
  
    animation-timeline: --image;
    animation-name: show;
  
    animation-range: entry 25% cover 30%;
    animation-fill-mode: both;
  
  &:hover {
    transform: scale(1.05, 1.05);
  }
  .content {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    width: 50%;
    border-radius: 10px;
    padding: 10px;
    p {
      margin: 1px;
      font-size: small;
    }
  }
  .img {
    border-radius: 10px;
    max-width: 40%;
    width: 40%;
    aspect-ratio: 16/9;
    img {
      border-radius: 0 10px 10px 0;
      height: 100%;
      max-height: 100%;
      max-width: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

/* ********** Utilities ********** */
.avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.bg-gray-light {
  background-color: var(--gray-light-color);
}

.box-shadow-1 {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.btn {
  border-radius: 0.5rem;
  padding: 1rem;
  display: inline-block;
  width: 150px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--first-color);
  transition: all ease .3s;
  cursor: pointer;
  border: none;
  margin-top: 1rem;
  &:hover {
    transform: scale(1.1, 1.1);
  }

  &:active {
    opacity: 0.75;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
  
}
main{
  border-bottom: var(--header-height);
}
.main-content{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  height: 500px;
  list-style-type: none;
}
.main-contentt{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  height: 500px;
  list-style-type: none;  
}
.main-text{
  text-wrap: pretty;
  text-decoration: none;
  ul{
    text-decoration: none;
  }
}
.imagen{
  width: 300px;
  height: 160px;
}

details{
  display: flex;
  background-color: var(--second-color);
  color: white;
  padding: 7px;
  text-wrap: pretty;
  flex-flow: row;
  border-bottom: 10px;
  
  summary{
    grid-column: span 2;
  }
  summary::marker{
    color: whitesmoke;
  }
  article{
    align-items: center;
  }
}
.gray-scale {
  filter: grayscale(1);
}

.none {
  display: none;
}

.section {
  padding: 2rem 1rem;
  margin-bottom: 1000px;
}

.section-title {
  border-top: thin solid var(--first-color);
  border-bottom: thin solid var(--first-color);
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  width: fit-content;
  text-align: center;
  color: var(--title-color);
}

.text-first-color {
  color: var(--first-color);
}

.text-center {
  text-align: center;

  a {
    transition: all 0.5s ease-in-out;
  }
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

@media screen and (min-width: 1024px) {
  .full-lg-screen {
    width: 100%;
    min-height: 100vh;
  }

  .text-lg-center {
    text-align: center;
  }

  .text-lg-left {
    text-align: left;
  }

  .text-lg-right {
    text-align: right;
  }
}

/* ********** Site Styles ********** */


.footer {
  margin-bottom: var(--header-height);
  padding: 0.5rem;
  text-align: center;
  color: var(--white-color);
  background-color: var(--third-color);
  bottom: 0;
}


.header {
  position: fixed;
  bottom: 0;
  z-index: 999;
  padding: 1rem;
  width: 100%;
  height: var(--header-height);
  background-color: var(--second-color);

  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
summary{
  margin-bottom: 16px;
}

.logo {
  a {
    color: var(--first-color);
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    margin-left: 4rem;

    &:hover {
      color: var(--white-color);
    }
    img{
      height: 32px;
    }
  }
}






@media screen and (min-width: 768px) {
 

  .menu{
    background-color: transparent;
  }
 
  .main-content{
    grid-template-columns: repeat(2,1fr);
  & .shein img{
    filter: drop-shadow(-2px 2px 15px rgb(0, 0, 0));
    width: 100%;
    height: 400px;
  }
  }
}

@media screen and (min-width: 1024px) {
 

  .footer {
    margin-bottom: 0;
  }

  .header {
    position: sticky;
    top: 0;
    padding: 0.5rem;
    height: calc(var(--header-height) - 0.5rem);
  }

  .logo a {
    margin-left: 1rem;
  }

 
}